sudo: required

services:
  - docker

script:
  - docker build --pull -t umweltdk/teamcity-agent .

deploy:
  provider: script
  on:
    repo: 'umweltdk/teamcity-agent'
    branch: master
  script: docker login -u umweltdkbuildserver -p $DOCKER_PASSWORD && docker push umweltdk/teamcity-agent
